nav {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px #eeeeee solid;
  background-color: white;
}

ul {
  margin: 0px;
  padding: 15px 20px;
  display: flex;
  list-style: none;
}

li {
  padding: 0px 10px;
}

.brand {
  margin-right: auto;
  line-height: 48px;
}
